@each $position in left, center, right {
  .text-#{$position} {
    text-align: $position;
  }
}

@each $size in 12, 14, 16, 18, 20, 34 {
  .f-#{$size} {
    font-size: $size * 1px !important;
  }
}

.text-white {
  color: $uni-text-color-inverse;
}

.text-primary {
  color: $uni-color-primary;
}

.text-warning {
  color: $uni-color-warning;
}

.text-error {
  color: $uni-color-error;
}
