@font-face {
  font-family: "iconfont"; /* Project id 3537314 */
  src: url('//at.alicdn.com/t/c/font_3537314_ryvj1jfun.woff2?t=1668767074246') format('woff2'),
       url('//at.alicdn.com/t/c/font_3537314_ryvj1jfun.woff?t=1668767074246') format('woff'),
       url('//at.alicdn.com/t/c/font_3537314_ryvj1jfun.ttf?t=1668767074246') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-female:before {
  content: "\e71a";
}

.icon-male:before {
  content: "\e71c";
}

.icon-scan:before {
  content: "\e8b5";
}

.icon-add-friend:before {
  content: "\e672";
}

.icon-voice:before {
  content: "\e6ef";
}

.icon-attachment:before {
  content: "\e667";
}

.icon-emoji:before {
  content: "\e64a";
}

.icon-plus:before {
  content: "\e60b";
}

.icon-send:before {
  content: "\e7a1";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-down:before {
  content: "\e7eb";
}

.icon-doubleright:before {
  content: "\e7ed";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-moneycollect:before {
  content: "\e7cd";
}

.icon-user:before {
  content: "\e7ae";
}
